body {
    background: lightcyan;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background: red;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: blue;
}

.middle img {
    height: 100%;
    width: 60%;
}

.footer {
    height: 20%;
    background: yellow;
}

@media only screen and (max-width: 600px) {

    .middle {
        background: lightgreen;
    }

    .middle img {
        height: 70%;
        width: 100%;
    }

  }
